In [3]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://Fadzil:Fadzil32@cluster0.8dewj.mongodb.net/')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

In [8]:
employee_data = [
    {
        'name': 'Andi Prabowo',
        'department': 'Keuangan',
        'age': 30,
        'salary': 7500
    },
    {
        'name': 'Siti Aminah',
        'department': 'Pemasaran',
        'age': 28,
        'salary': 6000
    },
    {
        'name': 'Budi Santoso',
        'department': 'IT',
        'age': 35,
        'salary': 8000
    },
    {
        'name': 'Diana Rahmawati',
        'department': 'Sumber Daya Manusia',
        'age': 23,
        'salary': 6500
    },
    {
        'name': 'Eka Putri',
        'department': 'IT',
        'age': 24,
        'salary': 7000
    },
    {
        'name': 'Fajar Nugraha',
        'department': 'Pemasaran',
        'age': 32,
        'salary': 5500
    },
    {
        'name': 'Gita Lestari',
        'department': 'Keuangan',
        'age': 31,
        'salary': 9000
    },
    {
        'name': 'Hendra Wijaya',
        'department': 'Sumber Daya Manusia',
        'age': 29,
        'salary': 7200
    },
    {
        'name': 'Ika Nurhaliza',
        'department': 'Operasional',
        'age': 34,
        'salary': 6800
    },
    {
        'name': 'Joko Susanto',
        'department': 'Operasional',
        'age': 33,
        'salary': 7500
    }
]
product_data_dicts = [dict(item) for item in employee_data]
insert_result = collection.insert_many(product_data_dicts)
print('Data inserted')

Data inserted

In [9]:
pipeline = [
    {
        '$sort': {
            'salary': -1  # Mengurutkan karyawan berdasarkan gaji tertinggi
        }
    },
    {
        '$group': {
            '_id': {
                'department': '$department',  # Mengelompokkan berdasarkan departemen
                'employee_id': '$_id'  # Memastikan ID karyawan tetap
            },
            'name': {'$first': '$name'},  # Mengambil nama karyawan
            'salary': {'$first': '$salary'}  # Mengambil gaji karyawan
        }
    },
    {
        '$sort': {
            '_id.department': 1,  # Mengurutkan berdasarkan nama departemen
            'salary': -1  # Mengurutkan berdasarkan gaji tertinggi dalam setiap departemen
        }
    },
    {
        '$group': {
            '_id': '$_id.department',  # Mengelompokkan kembali berdasarkan departemen
            'employees': {
                '$push': {
                    'employee_id': '$_id.employee_id',
                    'name': '$name',
                    'salary': '$salary'
                }
            }
        }
    },
    {
        '$project': {
            'employees': {
                '$slice': ['$employees', 5]  # Mengambil 5 karyawan teratas dari setiap departemen
            }
        }
    }
]

# Menjalankan agregasi dan menampilkan hasil
results = collection.aggregate(pipeline)

# Mencetak hasil dengan format yang lebih rapi
for result in results:
    print(f"Departemen: {result['_id']}")
    print("5 Karyawan dengan Gaji Tertinggi:")
    for emp in result['employees']:
        print(f"  - Nama: {emp['name']}, Gaji: {emp['salary']}")
    print()  # Menambahkan baris kosong untuk pemisah antar departemen

Departemen: IT
5 Karyawan dengan Gaji Tertinggi:
  - Nama: Budi Santoso, Gaji: 8000
  - Nama: Budi Santoso, Gaji: 8000
  - Nama: Budi Santoso, Gaji: 8000
  - Nama: Eka Putri, Gaji: 7000
  - Nama: Eka Putri, Gaji: 7000

Departemen: Keuangan
5 Karyawan dengan Gaji Tertinggi:
  - Nama: Gita Lestari, Gaji: 9000
  - Nama: Gita Lestari, Gaji: 9000
  - Nama: Gita Lestari, Gaji: 9000
  - Nama: Andi Prabowo, Gaji: 7500
  - Nama: Andi Prabowo, Gaji: 7500

Departemen: Pemasaran
5 Karyawan dengan Gaji Tertinggi:
  - Nama: Siti Aminah, Gaji: 6000
  - Nama: Siti Aminah, Gaji: 6000
  - Nama: Siti Aminah, Gaji: 6000
  - Nama: Fajar Nugraha, Gaji: 5500
  - Nama: Fajar Nugraha, Gaji: 5500

Departemen: Finance
5 Karyawan dengan Gaji Tertinggi:
  - Nama: Alice, Gaji: 4500
  - Nama: Alice, Gaji: 4500

Departemen: Operasional
5 Karyawan dengan Gaji Tertinggi:
  - Nama: Joko Susanto, Gaji: 7500
  - Nama: Joko Susanto, Gaji: 7500
  - Nama: Joko Susanto, Gaji: 7500
  - Nama: Ika Nurhaliza, Gaji: 6800
  - Nama: Ika Nurhaliza, Gaji: 6800

Departemen: Sumber Daya Manusia
5 Karyawan dengan Gaji Tertinggi:
  - Nama: Hendra Wijaya, Gaji: 7200
  - Nama: Hendra Wijaya, Gaji: 7200
  - Nama: Hendra Wijaya, Gaji: 7200
  - Nama: Diana Rahmawati, Gaji: 6500
  - Nama: Diana Rahmawati, Gaji: 6500

Departemen: None
5 Karyawan dengan Gaji Tertinggi:
  - Nama: None, Gaji: None
  - Nama: None, Gaji: None
  - Nama: None, Gaji: None
  - Nama: None, Gaji: None
  - Nama: None, Gaji: None

In [10]:
pipeline = [
    {
        '$sort': {
            'salary': -1  # Mengurutkan karyawan berdasarkan gaji tertinggi
        }
    },
    {
        '$group': {
            '_id': {
                'department': '$department',  # Mengelompokkan berdasarkan departemen
                'employee_id': '$_id'  # Memastikan ID karyawan tetap
            },
            'name': {'$first': '$name'},  # Mengambil nama karyawan
            'salary': {'$first': '$salary'}  # Mengambil gaji karyawan
        }
    },
    {
        '$sort': {
            '_id.department': 1,  # Mengurutkan berdasarkan nama departemen
            'salary': -1  # Mengurutkan berdasarkan gaji tertinggi dalam setiap departemen
        }
    },
    {
        '$group': {
            '_id': '$_id.department',  # Mengelompokkan kembali berdasarkan departemen
            'employees': {
                '$push': {
                    'employee_id': '$_id.employee_id',
                    'name': '$name',
                    'salary': '$salary'
                }
            }
        }
    },
    {
        '$project': {
            'employees': {
                '$slice': ['$employees', 5]  # Mengambil 5 karyawan teratas dari setiap departemen
            }
        }
    }
]

# Menjalankan agregasi dan menampilkan hasil
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Sumber Daya Manusia', 'employees': [{'employee_id': ObjectId('67260fa434f594cf299b3e26'), 'name': 'Hendra Wijaya', 'salary': 7200}, {'employee_id': ObjectId('67260eb92fc8ad51b045c84b'), 'name': 'Hendra Wijaya', 'salary': 7200}, {'employee_id': ObjectId('6726100534f594cf299b3e31'), 'name': 'Hendra Wijaya', 'salary': 7200}, {'employee_id': ObjectId('6726100534f594cf299b3e2d'), 'name': 'Diana Rahmawati', 'salary': 6500}, {'employee_id': ObjectId('67260eb92fc8ad51b045c847'), 'name': 'Diana Rahmawati', 'salary': 6500}]}
{'_id': 'Finance', 'employees': [{'employee_id': ObjectId('6721aec8a2b094cc2e120ddd'), 'name': 'Alice', 'salary': 4500}, {'employee_id': ObjectId('6721abe9a2b094cc2e120ddb'), 'name': 'Alice', 'salary': 4500}]}
{'_id': 'IT', 'employees': [{'employee_id': ObjectId('67260fa434f594cf299b3e21'), 'name': 'Budi Santoso', 'salary': 8000}, {'employee_id': ObjectId('6726100534f594cf299b3e2c'), 'name': 'Budi Santoso', 'salary': 8000}, {'employee_id': ObjectId('67260eb92fc8ad51b045c846'), 'name': 'Budi Santoso', 'salary': 8000}, {'employee_id': ObjectId('67260eb92fc8ad51b045c848'), 'name': 'Eka Putri', 'salary': 7000}, {'employee_id': ObjectId('67260fa434f594cf299b3e23'), 'name': 'Eka Putri', 'salary': 7000}]}
{'_id': 'Keuangan', 'employees': [{'employee_id': ObjectId('67260fa434f594cf299b3e25'), 'name': 'Gita Lestari', 'salary': 9000}, {'employee_id': ObjectId('67260eb92fc8ad51b045c84a'), 'name': 'Gita Lestari', 'salary': 9000}, {'employee_id': ObjectId('6726100534f594cf299b3e30'), 'name': 'Gita Lestari', 'salary': 9000}, {'employee_id': ObjectId('67260fa434f594cf299b3e1f'), 'name': 'Andi Prabowo', 'salary': 7500}, {'employee_id': ObjectId('6726100534f594cf299b3e2a'), 'name': 'Andi Prabowo', 'salary': 7500}]}
{'_id': 'Pemasaran', 'employees': [{'employee_id': ObjectId('6726100534f594cf299b3e2b'), 'name': 'Siti Aminah', 'salary': 6000}, {'employee_id': ObjectId('67260eb92fc8ad51b045c845'), 'name': 'Siti Aminah', 'salary': 6000}, {'employee_id': ObjectId('67260fa434f594cf299b3e20'), 'name': 'Siti Aminah', 'salary': 6000}, {'employee_id': ObjectId('67260fa434f594cf299b3e24'), 'name': 'Fajar Nugraha', 'salary': 5500}, {'employee_id': ObjectId('67260eb92fc8ad51b045c849'), 'name': 'Fajar Nugraha', 'salary': 5500}]}
{'_id': None, 'employees': [{'employee_id': ObjectId('67260df02fc8ad51b045c83a'), 'name': None, 'salary': None}, {'employee_id': ObjectId('67260a2f2fc8ad51b045c832'), 'name': None, 'salary': None}, {'employee_id': ObjectId('67260a2f2fc8ad51b045c838'), 'name': None, 'salary': None}, {'employee_id': ObjectId('6721b77dce14fc2dc98f8a60'), 'name': None, 'salary': None}, {'employee_id': ObjectId('67260a2f2fc8ad51b045c839'), 'name': None, 'salary': None}]}
{'_id': 'Operasional', 'employees': [{'employee_id': ObjectId('6726100534f594cf299b3e33'), 'name': 'Joko Susanto', 'salary': 7500}, {'employee_id': ObjectId('67260eb92fc8ad51b045c84d'), 'name': 'Joko Susanto', 'salary': 7500}, {'employee_id': ObjectId('67260fa434f594cf299b3e28'), 'name': 'Joko Susanto', 'salary': 7500}, {'employee_id': ObjectId('67260fa434f594cf299b3e27'), 'name': 'Ika Nurhaliza', 'salary': 6800}, {'employee_id': ObjectId('67260eb92fc8ad51b045c84c'), 'name': 'Ika Nurhaliza', 'salary': 6800}]}

In [11]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://Fadzil:Fadzil32@cluster0.8dewj.mongodb.net/')
db = client['company_db']
collection = db['employees']

# Menghapus karyawan yang berusia di bawah 25 tahun
result = collection.delete_many({'age': {'$lt': 25}})

# Menampilkan jumlah karyawan yang dihapus
print(f'Jumlah karyawan yang dihapus: {result.deleted_count}')

Jumlah karyawan yang dihapus: 2

In [17]:
pipeline = [
    {
        '$group': {
            '_id': '$department',  # Mengelompokkan berdasarkan departemen
            'total_salary': {'$sum': '$salary'},  # Menghitung total gaji
            'average_age': {'$avg': '$age'}  # Menghitung rata-rata umur
        }
    },
    {
        '$project': {
            'department': '$_id',  # Menyimpan nama departemen
            'total_salary': 1,  # Menyimpan total gaji
            'average_age': 1,  # Menyimpan rata-rata umur
            '_id': 0  # Menghilangkan _id default dari output
        }
    },
    {
        '$sort': {
            'department': 1  # Mengurutkan hasil berdasarkan nama departemen
        }
    }
]

# Menjalankan agregasi dan menampilkan hasil
results = collection.aggregate(pipeline)

# Mencetak laporan
print("Laporan Gaji dan Umur Karyawan per Departemen:")
for result in results:
    average_age = result['average_age']  # Mengambil rata-rata umur
    average_age_display = average_age if average_age is not None else 0.00  # Mengatur nilai default jika None

    print(f"Departemen: {result['department']}, Total Gaji: {result['total_salary']}, Rata-rata Umur: {average_age_display:}")

Laporan Gaji dan Umur Karyawan per Departemen:
Departemen: None, Total Gaji: 0, Rata-rata Umur: 0.0
Departemen: Finance, Total Gaji: 9000, Rata-rata Umur: 29.0
Departemen: IT, Total Gaji: 38000, Rata-rata Umur: 31.4
Departemen: Keuangan, Total Gaji: 49500, Rata-rata Umur: 30.5
Departemen: Operasional, Total Gaji: 42900, Rata-rata Umur: 33.5
Departemen: Pemasaran, Total Gaji: 34500, Rata-rata Umur: 30.0
Departemen: Sumber Daya Manusia, Total Gaji: 34600, Rata-rata Umur: 28.2